<form class="example-form">
  <mat-form-field>
    <mat-label>Team</mat-label>
    <input type="text" matInput [formControl]="teamControl" [matAutocomplete]="auto" placeholder="Pick a team">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="teamDisplayFn"
      (optionSelected)="onTeamOptionSelect($event)">
      <mat-option *ngFor="let team of filteredTeams$ | async"
        [value]="team">
         <!-- (onSelectionChange)="onTeamSelect(team, $event)" -->
        {{team.name}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="selectedTeam && selectedTeam.name !== ''" matSuffix mat-icon-button aria-label="Clear"
      (click)="clearTeam()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Team Member</mat-label>
    <input type="text" matInput [formControl]="teamMemberControl" [matAutocomplete]="auto2">
    <mat-autocomplete #auto2="matAutocomplete" [displayWith]="teamMemberDisplay">
      <mat-option *ngFor="let teamMember of filteredTeamMembers$ | async"
        (onSelectionChange)="onTeamMemberSelect(teamMember)">
        {{teamMember.name}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="selectedTeamMember && selectedTeamMember.name !== ''" matSuffix mat-icon-button aria-label="Clear"
      (click)="clearTeamMember()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

<h1>Team Members:</h1>
<div *ngFor="let t of filteredTeamMembers$ | async">
  {{ t.name }}
</div>
<br />
<h1>Selected Team: </h1>
<span>{{ selectedTeam?.name }}</span>
<h1>Selected Team Member:</h1>
<span> {{ selectedTeamMember?.name }} </span>
